<div id="login_box" class="splash_container">

  <h2>Edit Student Group</h2>

  <%= render :partial => 'form' %>

  <p>
    <%= link_to "Show", @student_group %> |
    <%= link_to "View All", student_groups_path %>
  </p>
</div>