<div class="container">

  <div class="sub_container_base">

    <h2>New question in <%=@questionnaire.name%></h2>

    <%= render 'form' %>

    <br/>

    <%= link_to 'Cancel', @questionnaire %>
  </div>
</div>