<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Welcome to Dialogue, <%= @user.username.humanize %>.</h1>
    <p>
      You have been successfully signed up for Dialogue, with the following details:<br/><br/>
      Username: <%= @user.username %>.<br/>
      Password: dialogue1 <br/>
    </p>
    <p>
      To login to the site, just follow this link: http://dialogue.ptotem.com:3000/
      Once you login, we recommend you also change your password: http://dialogue.ptotem.com:3000/users/edit/
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>