<div id="login_box" class="splash_container">

  <h2>Edit Client</h2>

  <%= render :partial => 'form' %>

  <p>
    <%= link_to "Show", @client %> |
    <%= link_to "View All", clients_path %>
  </p>

</div>
