<div class="container">

  <div class="sub_container_header">
    <h1>Clients</h1>
    <span style="float:right;text-align:center;margin-top:-60px;"><a href="/clients/new" style="font-size:12px;color:black;text-decoration: none;"> <img src="images/users.png" style="width:35px;height:35px;"/><br/>Add Client</a></span>
  </div>

  <div class="sub_container_base">

    <table>
      <tr>
        <th style="width:50%">Name</th>
        <th style="width:30%">Type</th>
        <th style="width:20%">Links</th>
      </tr>
      <% for client in @clients %>
        <tr>
          <td style="width:50%"><%= link_to client.name, client %></td>
          <td style="width:30%"><%=h client.client_type %></td>
          <td style="width:20%"><%= link_to "Edit", edit_client_path(client) %>
            <%= link_to "Delete", client, :confirm => 'Are you sure?', :method => :delete %>
        </tr>
      <% end %>
    </table>

  </div>
</div>