<div class="container">

<div class="sub_container_base">
<h1>Editing questionnaire</h1>

<%= render 'form' %>

<%= link_to 'Show', @questionnaire %> |
<%= link_to 'Back', questionnaires_path %>
</div>
</div>