<div class="container">

  <div class="sub_container_header">
    <h1>Educator Group</h1>
  </div>

  <div class="sub_container_base">

    <%= render :partial => 'form' %>

    <p><%= link_to "Back to List", facilitator_groups_path %></p>
  </div>
</div>